/Shop/target/
/shop2.0/target/
/geometric/target/
/SquarePlugin/target/
/PluginsApp/AppPlugins/RhombPlugin/target/
/PluginsApp/AppPlugins/RhombPlugin - Copy/target/
/PluginsApp/AppPlugins/RectanglePlugin/target/